<div id="req_to_add_university">
  <h1>Cereri de Adaugare</h1>
  <br><br>

  <% items.forEach(function(cerere) { %>
    <div req>
  <div class="card mb-3 uni">
    <div class="row">
      <div class="col-md-4 img-size">

        <img src="data:image/<%= cerere.universitate.img.contentType %>;base64,
                     <%= cerere.universitate.img.data.toString('base64') %>">

      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">
            <small class="text-muted">
              <%= cerere.universitate._id %>
            </small>
          </p>
          <h3 class="card-title">
            <%= cerere.universitate.nume %>
          </h3>
          <p class="card-text">
            <small class="text-muted">
              <%= cerere.universitate.oras %>
            </small>
          </p>
          <p class="card-text"><%= cerere.universitate.descriere %></p>

          <p id="taguri"><% for(var i=0;i< cerere.universitate.specializari.length;i++){ %><span class="tag" ><%= cerere.universitate.specializari[i] %></span><% } %></p>
          <p class="materiiContiner">
          <% for(var i=0;i<cerere.universitate.materii.length;i++){ %>
            <span class="materii"><%= cerere.universitate.materii[i] %></span>
            <% } %>
          </p>
          <br><br>

          <div class="more">
            <a href="https://<%=cerere.universitate.link%>"> Link website ( <span class="detail-color"><%=cerere.universitate.link%> </span>) </a>
          </div>
          <br>
          <div class="more">
            <p> Email contact: <span class="detail-color"> <%=cerere.universitate.email%></span> </p>
          </div>
          <br><br>
          <div class="accept">

            <form action="/dashboard" method="POST">
              <input type="hidden" name="toDelete" value="<%= cerere._id %>">
            <button type="submit" class="hero-btn rosu" >Respinge</button>
          </form>
            <button reqButton type="submit" onclick="edit_university_menu()" class="hero-btn"
              >Editeaza</button>
          </div>


        </div>
      </div>
    </div>
  </div>

  <div style="display:none">
    <p><%= cerere.universitate.nume %></p>
    <p><%= cerere.universitate.oras %></p>
    <p><%=cerere.universitate.longitudine%></p>
    <p><%=cerere.universitate.latitudine%></p>
    <p><%= cerere.universitate.email %></p>
    <p><%= cerere.universitate.link %></p>
    <p class="idOfReq"><%= cerere._id%></p>
    </div>
</div>
  <% }); %>

</div>