<form action="/contact" class="row g-3 form2" method="POST" enctype="multipart/form-data">
  
    <div>
            <h4>Cerere de inregistrare a universitatii pe UniRo</h4>
        </div>
        <div class="col-md-6">
            <label class="form-label">Nume Reprezentant</label>
            <input class="form-control" type="text" name="nume_reprezentant" id="nume_reprezentant" required/>

        </div>   
        <div class="col-md-6">
            <label class="form-label">Prenume Reprezentant</label>
            <input class="form-control" type="text" name="prenume_reprezentant" id="prenume_reprezentant" required/>
        </div> 
        <div class="col-12">
            <label class="form-label">Email Reprezentant</label>
            <input class="form-control" type="text" name="email_reprezentant" id="email_reprezentant" required/>
        </div> 
        <div class="col-12">
            <br><br>
            <label class="form-label">Numele universitatii pe care doriti sa o introduceti</label>
            <input class="form-control" type="text" name="nume" id="" required/>
        </div>
        <div class="col-12">
            <label for="inputState" class="form-label">
                Localitatea in care se afla campusul
            </label>
            <div id="oras" class="ui fluid search selection dropdown">
                <input type="hidden" name="oras">
                <i class="dropdown icon"></i>
                <div class="default text">Select Tag</div>
                <div class="menu">
                  <% for(var i=0;i<orase.length;i++){ %>
                    <div class="item" data-value="<%= orase[i] %>">
                      <%= orase[i] %>
                    </div>
                    <% } %>
                </div>
              </div>
        </div>
        <div class="col-12">
            <label class="form-label">Descriere</label>
            <textarea class="form-control" type="text" name="descriere" id="" required/></textarea>
        </div>

        <div class="col-md-6">
            <label class="form-label">Latitudine</label>
            <div class="default text">Necesar pentru geolocatie... </div>
            <input class="form-control" type="number" name="latitude" step="any" id="" required/>
        </div>
        <div class="col-md-6">
            <label class="form-label">Longitudine</label>
            <div class="default text">Necesar pentru geolocatie... </div>
            <input class="form-control" type="number" name="longitude" step="any" id="" required/>
        </div>
        <div class="col-md-6">
            <label class="form-label">Email</label>
            <input class="form-control" type="text" name="email" id="" required/>
        </div>
        <div class="col-md-6">
            <label class="form-label">Link website</label>
            <input class="form-control" type="text" name="link" id="" required/>
        </div>

        <div class="col-12">
            <div>
                <label class="form-label">Facultati</label>
                <div id="materiiSelect" class="ui fluid multiple search selection dropdown">
                    <input type="hidden" class="form-control" name="materii">
                    <i class="dropdown icon"></i>
                    <div class="default text">Selectati materiile </div>
                    <div class="menu">
                        <% for(var i=0;i<facultati.length;i++){ %>
                        <div class="item" data-value="<%= facultati[i] %>">
                            <%= facultati[i] %>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <label class="form-label">Specializari</label>
                <div id="specializariSelect" class="ui fluid multiple search selection dropdown">
                    <input type="hidden" class="form-control" name="specializari">
                    <i class="dropdown icon"></i>
                    <div class="default text">Selectati specializarile</div>
                    <div class="menu">
                        <% for(var i=0;i<specializari.length;i++){ %>
                        <div class="item" data-value="<%= specializari[i] %>">
                            <%= specializari[i] %>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

    
    <div class="">
        <br><br>
        <label class="form-label">Incarcati o fotografie cu universiatea (de preferat 2000x2000)</label>
        <input type="file" name="photo" id="photo" value="" required>
    </div>

    <div class="g-recaptcha" data-sitekey="6LcxtH8fAAAAAODJ27qFNPZk5BUcAJl01oHMyfsf" data-callback="recaptchaCallback"></div>
    
    <div class="button">
        <br><br>
        <p>Dupa ce ati trimis acest formular va vom contacta pe email pentru a ne asigura de autenticitatea cererii.</p>
        <button type="submit" class="hero-btn submit-btn" disabled id="uniRequest">
            Trimite
        </button>
    </div>
</form>