<!-- aici iti faci tu talentu -->
<div universitate >
<div class="card mb-3 uni click">
  <div class="row">
    <div class="col-md-4 img-size">
      <% if(!(uni.img.data===undefined )){ %>
      <img src=" data:uni.photo/<%=uni.img.contentType%>;base64,
                     <%=uni.img.data.toString('base64')%>">
      <% } else {%>
      <img src="/images/test.png" alt="">
      <% } %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title" id="nume">
          <span class="nume">
          <%= uni.nume %>
          </span>
          <span class="rating">
            <%= uni.rating %> <i class="fa fa-star" aria-hidden="true"></i>
          </span>
          <span class="card-text recenzii"> (<%= uni.reviewsNo %>)</span>
        </h3>
        <p class="card-text">
          <small class="text-muted oras">
            <%= uni.oras %>
          </small>
        </p>
        <p class="card-text ">
          <p class="descriere"><%= uni.descriere %></p>
        </p>

        <p class="taguri">
          <% for(var i=0;i<uni.specializari.length;i++){ %>
          <span class="tag" id="tag"><%= uni.specializari[i] %></span>
          <% } %>
        </p>


        <div class="dropdown">

          <button class="btn mat-btn" type="button" data-toggle="dropdown">
            Facultati <i class="dropdown icon"></i>
          </button>

          <div class="dropdown-menu">
            <% for(var i=0;i<uni.facultati.length;i++){ %>
            <p class="materii"><%= uni.facultati[i] %></p>
            <% } %>
          </div>

        </div>

        <div class="more">
          <a href="https://<%= uni.link %>" target="_blank" class="btn buton-link" >Viziteaza website</a>
          <a href="/universitati/<%= uni.nume %>" class="btn buton-link detalii dash-hide">Mai multe detalii</a>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="details" style="display:none">
  <p><%= uni.nume %></p>
  <p><%= uni.oras %></p>
  <p><%=uni.longitudine%></p>
  <p><%=uni.latitudine%></p>
  <p><%= uni.email %></p>
  <p><%= uni.link %></p>
  <p class="idOfUni"><%= uni._id%></p>
  </div>
</div>