<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universitati Romania</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/894924603a.js"></script>
    <%- include('partials/scriptbootstrap'); %>
    <%- include('partials/favicon'); %>
    <!-- css file for dropdowns (not input) -->
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- dropdown css file (input drops)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- css file  -->
    <link rel="stylesheet" href="css/explore.css">

    <!-- some scripts for other dropdowns (not the input ones)-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!-- scripts for input dropdowns  -->
    <%- include('partials/dropdown'); %>



</head>

<body>

    <div class="loader">
        <div class="loading-circle"></div>
    </div>
    <section class="content_after_load">
        <section class="header">

            <nav class="navigation">

                <button id="popUp-open-button" class="hero-btn">Filtrare</button>
                <form class="d-flex">
                    <input class="form-control search-bar " type="search" placeholder="Cauta universitate..." aria-label="Search">
                    <button class="hero-btn" type="submit">Cauta</button>
                </form>

                <div class="nav-links" id="navLinks">
                    <i class="fa fa-times" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href="/despre">DESPRE NOI</a></li>
                        <li><a class="permanent" href="/">ACASA</a></li>
                        <li><a href="/contact">CONTACT</a></li>
                        
                    </ul>
                </div>
                <i class="fa fa-bars" onclick="showMenu()"></i>

            </nav>

        </section>




        <section class="display">


            <div class="container1">
                <% for(var i=1;i<lungime;i++){ %>

                <% uni=uniArray[i]; %>

                <%- include('partials/university', {uni: uni}); %>

                <% } %>

            </div>
        </section>


        <div class="popUp" id="popUp">
            <br><br>
            <div class="popUp-header">
                <br>
                <h3 class="popUp-title">Filtreaza Universitatile</h3>
                <button class="popUp-close-button" id="popUp-close-button">&times;</button>
            </div>
            <div class="popUp-body">

                <br><br>
                <%- include('partials/filter-form'); %>

            </div>
        </div>
        <div id="overlay"></div>

    </section>
    <script src="scripts/menu.js"></script>
    <script src="scripts/popUp.js"></script>
    <script src="scripts/slider.js"></script>
    <script src="scripts/getUserLocation.js"></script>
    <script>
        $("#submit-button").on('click', function () {
            $('.content_after_load').fadeOut(1000);
            $('.loader').fadeIn(1000);
        });
        $(window).on('load', function () {
            $('.loader').fadeOut(1000);
            $('.content_after_load').fadeIn(1000);
        });
        $('#materii').dropdown();
        $('#specializari').dropdown();
        $('#oras').dropdown();
    </script>
</body>

</html>